body {
    margin: 0;
    padding: 0;
}

main {
    min-height: 80%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 0px 21px 2px rgba(34, 60, 80, 0.34);
}

button {
    padding:0 100%;
    margin: 0;
}